In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Importation des données
bids_data = pd.read_csv('bids.csv')
train_data = pd.read_csv('train.csv')

# Grouper les adresses IP unique
bids_data.groupby(['auction'])['ip'].nunique().reset_index()

      auction    ip
0       00270   771
1       008vv     2
2       00cwr    13
3       00do0     2
4       00hjy    32
...       ...   ...
15046   zznnc     2
15047   zzoy7   196
15048   zztha     3
15049   zzzlx  3519
15050   zzzy7  2085

[15051 rows x 2 columns]